<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
		<script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>  
		<script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
		<style>
			body {
				background-color:white;
			}
			.credits {
				margin:10px;
			}
		</style>
	</head>
<body>
	<h1>{{ h }}</h1>
	<hr>
    ToDo list application developed by Mayank Ramnani and Abhay Garg<br>
    https://github.com/gargabhay1999/To-Do-Cloud
</body>
</html>
